@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0f172a;
  color: #f8fafc;
}

body {
  font-family: 'Outfit', sans-serif;
}